extends layout
block content
 div(id="reg-head-block")
  p(id="title") WELCOME IGS REGISTRATIONs
  p(id="white-block") 
 div(class="container")
  form(class="needs-validation m-auto" novalidate method="post") 
    div(class="mb-3 row")
      label(for="staticEmail" class="col-sm-2 col-form-label" name="userName") Code d' access
      div(class="col-sm-6 col-12")
        input(type="text" class="form-control col-12" name="c_access" value="" required)
        
    div(class="mb-3 row")
      label(for="inputPassword" class="col-sm-2 col-form-label") Adress
      div(class="col-sm-6")
        input(type="text" class="form-control" id="inputPassword" name="adress" required)
    input(type="submit" value="Valider votre presence" class="btn btn-success")

    if emargement == true
     div(class="display-6 text-success") Merci , emargement reussie
    
    div(id="g-map")
     
 script(src="/js/register.js")