extends layout
block content

 p Hello google map
 div(id="googleMap" style="width:100%;height:400px;")

 script(src="googlemap.js"
 ) 

 script(src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap")

