extends layout 
block content 
 include partial_home.jade
 h3 Depart- MTN ACADEMY
 form(action="" method="post")
   input(type="text" name="student" value="#{student}")
   button(class="btn btn-success") valider
