extends layout 
block content 
 include partial_home.jade
 main(class= "col-md-9 ms-sm-auto col-lg-10 px-md-4")
   div(class="testbox")
    
    form(class="myform" method="post")
      div(class="banne d-flex")
        img(src="/photo/sun.gif" style="height:150px; width:50%" class="m-auto")
      br
      legend(class="text-center bg-danger")  VEUILLER EMARGER VOTRE HEURE DE DEPART
       
      div(class="item")
       p(class="text-success display-7 text-center") Heure Actuelle 
        span(id="h-arrive" class="display- text-whit p-2 rounded fw-bold fs-25")
      
      div(class="btn-block")
       button(type="submit" class="btn btn-danger") DEPART
      div(class="d-flex align-items-baseline bg-light")
       img(src="/icons/user-tie.svg" class="" style="width:25px")
       p Utilisateur en cours : 
       
       p(class="p-5 text-danger") #{student.nom} #{student.prenoms}

 script(src="/js/arrive.js")
 h3 Depart- MTN ACADEMY
 form(action="" method="post")
   input(type="text" name="student" value="#{student}")
   button(class="btn btn-success") valider
