extends layout 
block content 

  include partial_pan.jade
  main(class= "col-md-9 ms-sm-auto col-lg-10 px-md-4")
   div(class="testbox")
    
    form(class="myform" method="post")
      div(class="banne d-flex")
        img(src="/photo/registre.jfif" style="height:150px; width:50%" class="m-auto")
      legend #{action} UN REGISTRE
      div(class="item")
       label(for="checkindate") Date du registre 
       span *
       input(id="checkinda" type="date" name="dte_registre" value='#{tb_registre.dte_registre}')

      div(class="btn-block")
       button(type="submit" ) #{action}
       