header(class="navbar navbar-dark sticky-top bg-danger flex-md-nowrap p-0 shadow")
 a(class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/") Dashboard
  button(class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation")
  span(class="navbar-toggler-icon")
    
 
 div(class="navbar-nav")
  div(class="nav-item text-nowrap")
   a(class="nav-link px-3" href="#") quittez


div(class="container-fluid")
 div(class="row")
  nav(id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse")
   div(class="position-sticky pt-3")
     ul(class="nav flex-column list-pan")
      li(class="nav-item")
       a(class="nav-link active" aria-current="page" href="#")
        spa(data-feather="home")
        Dashboard

       li(class="nav-item border mb-1 position-relative")
        span(class="position-absolute p-2  border border-light badge bg-success" style="top:-10px;left:5px")
          span(class="text-white") #{total_student}
        a(class="nav-link" href="/administration/liste_apprenants")
         span(data-feather="file" class="d-block m-auto w-100  text-end") LES APPRENANTS
         img(class="d-block pan-icons m-auto" src="/icons/user-graduate.svg")
         
       li(class="nav-item border position-relative")
        span(class="position-absolute p-2  border border-light badge bg-success" style="top:-10px;left:5px")
          span(class="text-white") #{total_formation}
        a(class="nav-link" href="/administration/formations")
         span(data-feather="shopping-cart" class="d-block m-auto w-100  text-center") LES FORMATIONS
         img(class="d-block pan-icons m-auto" src="/icons/box-open.svg")        
       li(class="nav-item position-relative")
        span(class="position-absolute p-2  border border-light badge bg-success" style="top:-10px;left:5px")
          span(class="text-white") #{total_sheet}
        a(class="nav-link" href="/administration/registre")
         span(data-feather="bar-chart-2" class="d-block m-auto w-100  text-center") REGISTRE
         img(class="d-block pan-icons m-auto" src="/icons/tablet-alt.svg")
       li(class="nav- position-relative")
        span(class="position-absolute p-2  border border-light badge bg-success" style="top:-10px;left:5px")
          span(class="text-white") #{total_partenaire}
        a(class="nav-link" href="#" )
         span(data-feather="layers" class="d-block m-auto w-100  text-center") LES PARTENAIRES
         img(class="d-block pan-icons m-auto" src="/icons/umbrella.svg")
          

    