header(class="navbar navbar-dark sticky-top bg-danger flex-md-nowrap p-0 shadow")
 a(class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/") Dashboard
  button(class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation")
  span(class="navbar-toggler-icon")
    
 input(class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search")
 div(class="navbar-nav")
  div(class="nav-item text-nowrap")
   a(class="nav-link px-3" href="#") quittez


div(class="container-fluid")
 div(class="row")
  nav(id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse")
   div(class="position-sticky pt-3")
     ul(class="nav flex-column")
      li(class="nav-item")
       a(class="nav-link active" aria-current="page" href="#")
        spa(data-feather="home")
        Dashboard
       li(class="nav-item")
        a(class="nav-link" href="/administration/liste_apprenants")
         span(data-feather="file") les Apprenants
       li(class="nav-item")
        a(class="nav-link" href="/administration/formations")
         span(data-feather="shopping-cart") Formations
            
       li(class="nav-item")
        a(class="nav-link" href="#")
         span(data-feather="users") 
        
       li(class="nav-item")
        a(class="nav-link" href="/administration/registre")
         span(data-feather="bar-chart-2") Registre
       li(class="nav-item")
        a(class="nav-link" href="#")
         span(data-feather="layers") Partenaire
          

    