extends layout 
block content 

  include partial_pan.jade
  main(class= "col-md-9 ms-sm-auto col-lg-10 px-md-4")  
   div(class="bg-danger mt-2 p-2 mb-3 text-white") Gestion du registre
   div(class="") 
    a(href="/administration/registre/ajouter" class="btn btn-outline-secondary") Nouveau Registre
   hr